body {
    background-color: #306f91;
}
h1 {
    color: #915230;
    text-shadow: -2px 2px #000;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 32px; 
    text-align: center;
}

.center {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    }

.recipe {
    color: #915230;
    text-shadow: -1px 1px #000;
    font-size: 20px;
}
